# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Models & artifacts

data/
db/

# Logs
*.log

# Environment files
.env
.env.*
!app/db/
!app/db/**

